/* Material form */
form {
  display: flex;
  flex-direction: column;
}

mat-form-field {
  flex: 1;
}

/* Material card */
.mat-dialog-container {
  padding: 0 !important;
}

mat-card {
  max-width: 500px;
}

mat-card-header {
  flex-direction: column;
}

#progress-wrapper {
  height: 2px;
}

mat-progress-bar {
  position: relative;
  top: -10px;
  left: 0;
  right: 0;
}
