body {
  font-family: 'Open Sans', sans-serif !important;
  font-size: 14px;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Signika', sans-serif !important;
  text-transform: uppercase;
}

h1 {
  letter-spacing: 5px;
}

h2 {
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 3px;
  padding: 10px 3%;
  margin: 25px auto;
  text-align: center;
}

h2::after {
  content: "";
  border-bottom-style: solid;
  border-bottom-width: 2px;
  width: 50%;
  display: block;
  margin: 15px auto;
}

h3 {
  font-size: 16px;
  letter-spacing: 3px;
  font-weight: 700;
}

h4 {
  letter-spacing: 1.2px;
  font-weight: 400;
}

p {
  text-align: left;
}

a {
  text-decoration: none !important;
  color: inherit;
  cursor: pointer;
}

q {
  font-style: italic;
  font-size: 20px;
  padding: 10px 0;
  margin: 10px auto 30px auto;
  text-align: center;
}
