@mixin timeline($theme) {
  $primary: mat-color(map-get($theme, primary));
  $primary-text: mat-color(map-get($theme, primary), default-contrast);
  $primary-lighter: mat-color(map-get($theme, primary), lighter);
  $accent: mat-color(map-get($theme, accent));
  $accent-text: mat-color(map-get($theme, accent), default-contrast);
  $warn: mat-color(map-get($theme, warn));
  $warn-text: mat-color(map-get($theme, warn), default-contrast);
  $background: mat-color(map-get($theme, background), background);
  $foreground: mat-color(map-get($theme, foreground), text);

  /* Circle inside */
  .container-timeline::after {
    background-color: $accent;
  }

  /* Circle border */
  .container-timeline::after {
    border-color: $background;
  }

  /* Line */
  .timeline::after {
    background-color: $accent;
  }

  /* Content box */
  .content {
    background-color: $background;
    color: $foreground;
  }

  /* Content border */
  .border {
    border-color: transparent;
  }

  /* Left arrow inside */
  .left::before {
    border-color: transparent transparent transparent $accent;
  }

  /* Right arrow inside */
  .right::before {
    border-color: transparent $accent transparent transparent;
  }

  /* Small arrows all left */
  @media all and (max-width: 1250px) {
    .left::before {
      border-color: transparent $accent transparent transparent;
    }
  }

}
