.mat-table {
  overflow: auto;
}

#user-table {
  display: flex;
  flex-direction: column;
  min-width: 800px;
}

/* Colums */
.mat-column-type {
  max-width: 70px;
}

.mat-column-created_at {
  max-width: 85px;
}

.mat-column-select {
  overflow: initial;
}

.actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.actions>* {
  margin: 10px;
}

#progress-wrapper {
  height: 2px;
}

mat-progress-bar {
  position: relative;
  top: -10px;
  left: 0;
  right: 0;
}
