  <section #introText appContentText [page]="page" ref="text_intro" [id]="introText.text.header">
    <div class="container">

      <div class="flex-column-around-center">
        <img [appViewImage]="getImageId('profile_pic')" id="profile-pic" alt="Profile picture">
        <p id="fname-profile-pic">Pim</p>
        <p id="lname-profile-pic">Vermeer</p>
      </div>

      <div class="columnblock">
        <p [innerHTML]="introText.text.text[0] | convertLinebreaks"></p>
      </div>

      <h2>Vaardigheden</h2>
      <div class="flex-row-around flex-start">

        <div #codingTitles appContentList [page]="page" ref="coding_skill" class="margin-hz">
            <h3> {{ codingTitles.list.title }} </h3>
            <div *ngFor="let listItem of codingTitles.list.list; let i = index" class="progress-bar-wrapper">
              <h5> {{ listItem[0] }} </h5>
              <app-progress-bar color="accent" [progress]="listItem[1]"></app-progress-bar>
            </div>
        </div>

        <div #ictTitles appContentList [page]="page" ref="ict_skill" class="margin-hz">
            <h3> {{ ictTitles.list.title }} </h3>
            <div *ngFor="let listItem of ictTitles.list.list; let i = index" class="progress-bar-wrapper">
              <h5> {{ listItem[0] }} </h5>
              <app-progress-bar color="accent" [progress]="listItem[1]"></app-progress-bar>
            </div>
        </div>

        <div #interest appContentList [page]="page" ref="interest" class="margin-hz">
          <h3> {{ interest.list.title }} </h3>
          <div *ngFor="let listItem of interest.list.list; let i = index" class="progress-bar-wrapper">
            <h5> {{ listItem[0] }} </h5>
            <app-progress-bar color="accent" [progress]="listItem[1]"></app-progress-bar>
          </div>
      </div>

      </div>

      <q #quotes appContentList [page]="page" ref="quotes"> {{ quotes.list.list[0] }} </q>

    </div>
  </section>

  <section #experienceText appContentText [page]="page" ref="text_experience" [id]="experienceText.text.header" [ngStyle]="experienceBackground" class="white experience-background">
    <app-wave></app-wave>

    <div class="container flex-column-around" id="experience-container">

      <h2> {{ experienceText.text.header }} </h2>
      <br>

      <div class="columnblock margin-hz">

        <div class="max-width-500-all flex-column-around-center">
          <div>
            <p [innerHTML]="experienceText.text.text[0] | convertLinebreaks"></p>
          </div>

          <q>{{ quotes.list.list[1] }}</q>

          <div #file appContentFile [page]="page" ref="file_cv" class="flex-row-around">
            <button mat-raised-button color="accent"> {{ file.file.title }} </button>
          </div>
        </div>
        <br>
        <br>

        <app-timeline [page]="page" id="timeline-container" class="margin-center-all"></app-timeline>

      </div>

    </div>
    <app-wave flip="true"></app-wave>
  </section>

  <section #contactText appContentText [page]="page" ref="text_contact" [id]="contactText.text.header">

    <h2> {{ contactText.text.header }} </h2>

    <div class="container flex-row-around">

      <app-contact-details></app-contact-details>
      <app-contact-form class="basis-50"></app-contact-form>

    </div>

  </section>

  <app-footer></app-footer>
