<section>
  <div class="container">
    <div *ngFor="let content of fillerContent; let i = index">
      <h3 [id]="i">Header {{i}}</h3>
      <p>{{content}}</p>
    </div>
    <div appAnimateInview="bounceInLeft">
      <h3>Header End</h3>
      `Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
      ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
      ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
      in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
      mollit anim id est laborum.`);
    </div>
    <br>
    <br>
    <br>
    <br>
  </div>
