.top-background {
  position: absolute;
  top: -70px;
  height: 45vh;
  width: 100%;
  transform: skewY(-4deg);
  transform-origin: 0%;
  z-index: -1;
}

.container {
  max-width: 900px;
}

.spacer {
  height: 20vh;
}

.header-text {
  height: 15vh;
}

.margin>* {
  margin: 0 5px;
}

.showcase-container {
  margin: 60px 0;
}

.showcase-image {
  height: 180px;
}

.showcase-text {
  max-width: 300px;
}
