<div class="primary-background-gradient top-background"></div>
<section>
  <div class="container">
    <br>
    <div class="flex-row-center nowrap">
      <div class="primary-text header-text">

        <h1> {{ page.info.title }} </h1>
        <h3> {{ page.info.subtitle }} </h3>

      </div>
    </div>

    <div class="flex-column-around-center">
      <app-impossible-triangle-css class="scale"></app-impossible-triangle-css>
    </div>

    <div *ngFor="let text of page.texts; let i = index" appAnimateInview="fadeIn">

      <div class="flex-row-around-center showcase-container" [class.row-reverse]="isEven(i + 1)">
        <div class="flex-column-around-center">

          <h3 [id]="text.header" class="showcase-text">{{ text.header }}</h3>
          <img [appViewImage]="getImageId(text.ref)" class="showcase-image">

        </div>
        <div class="flex-column-around-center">

          <h4 *ngIf="text.text[0] !== ''; else list" class="showcase-text"> {{ text.text[0] }} </h4>

          <ng-template #list>
            <ul>
              <li *ngFor="let item of text.text; let j = index" [class.display-none]="j === 0">
                <h4 class="showcase-text"> {{ item }} </h4>
              </li>
            </ul>
          </ng-template>

          <mat-chip-list>
            <mat-chip color="accent" selected="true" [routerLink]="['/features']" [fragment]="text.header" class="cursor-pointer"> More info </mat-chip>
          </mat-chip-list>

        </div>
      </div>
      <br>
      <br>
      <mat-divider></mat-divider>
      <br>
    </div>
  </div>
</section>
<app-footer></app-footer>
