<div class="primary-gradient top-background"></div>
<section>
  <div class="container">
    <div class="flex-column-around-left primary-text header-text">
      <div>
        <div class="flex-row-left-center nowrap">
          <mat-icon class="header-icon">chevron_left</mat-icon>
          <h1 id="title"> {{ page.info.title }} </h1>
          <mat-icon class="header-icon">chevron_right</mat-icon>
        </div>
        <h3> {{ page.info.subtitle }} </h3>
      </div>
    </div>

    <div class="spacer"></div>

    <div id="showcase-container">
      <div *ngFor="let text of page.texts; let i = index" appAnimateInview="fadeIn">
        <div class="flex-row-around-center" [class.row-reverse]="isEven(i + 1)">
          <div class="flex-column-around-center">
            <h3 [id]="text.header" class="showcase-text">{{ text.header }}</h3>
            <img [appViewImage]="getImageId(text.ref)" class="showcase-image">
          </div>
          <div class="flex-column-around-center">
            <h4 class="showcase-text">{{ text.text }}</h4>
            <div *ngFor="let list of page.lists">
              <ul *ngIf="list.ref === text.ref">
                <li *ngFor="let item of list.list">
                  <h4 class="showcase-text"> {{ item }} </h4>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <br>
        <br>
        <mat-divider></mat-divider>
        <br>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
