
#footer-container {
  margin: 40px 0 0 0;
  padding: 0 10px;
  align-self: center;
}

#footer {
  height: 100px;
  width: 95%;
  overflow: hidden;
  border-radius: 10px 10px 0 0;
}

#footer-text-container {
  
}

.footer-header {
  margin: 10px 0 5px 0;
}
