/* Layout */

.text-container>* {
  flex-basis: 50%;
}

.flex-basis-1>* {
  flex-basis: 100%;
}

.image-card,
.file-card {
  max-width: 300px;
}

/* Images */

.icon-big {
  height: 100px;
  width: 100%;
  font-size: 100px;
  text-align: center;
}

.image-grey {
  filter: grayscale(1);
  opacity: 0.5;
}

img {
  max-height: 215px;
  max-width: 300px;
  width: auto;
  height: auto;
}

.extra-values {
  padding-left: 10%;
}
