<div
  class="container"
  *ngIf="mobileQuery$ | async as mobileQuery"
  [class.is-mobile]="mobileQuery.matches"
>
  <mat-toolbar color="primary" class="toolbar">
    <h1 class="app-name">
      <a class="app-name-link" [routerLink]="routerLinks[0].path">{{
        appName
      }}</a>
    </h1>
    <span class="toolbar-spacer"></span>
    <nav mat-tab-nav-bar [tabPanel]="tabPanel" backgroundColor="primary">
      <a
        *ngFor="let link of routerLinks"
        mat-tab-link
        [routerLink]="link.path"
        routerLinkActive
        #rla="routerLinkActive"
        [active]="rla.isActive"
        disableRipple
      >
        {{ link.data.navTitle }}
      </a>
    </nav>
    <mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>

    <span class="toolbar-spacer"></span>
  </mat-toolbar>

  <mat-sidenav-container
    class="sidenav-container"
    [style.marginTop.px]="mobileQuery.matches ? 56 : 0"
  >
    <mat-sidenav-content>
      <div class="content-container">
        <main class="outlet-container" [@routerTransition]="getRouterState(o)">
          <router-outlet #o="outlet"></router-outlet>
        </main>
        <footer>
          <app-footer class="footer"></app-footer>
        </footer>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
