.center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#progress-wrapper {
  height: 2px;
}

mat-progress-bar {
  position: relative;
  top: -10px;
  left: 0;
  right: 0;
}
