.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}

section {
  margin-top: 20px;
  display: flex;
  gap: 20px;

  &:first-child {
    margin-top: 2vh;
  }

  &#profile {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    #profile-pic {
      clip-path: circle();
      height: 200px;
    }
  }

  &#projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    gap: 5vw;

    mat-card {
      max-width: 400px;

      > mat-card-header,
      > img {
        margin-bottom: 16px;
      }

      > mat-card-content {
        height: 100%;
      }
    }
  }
}
