@mixin impossibleTriangle($theme) {
  $primary: mat-color(map-get($theme, primary));
  $primary-text: mat-color(map-get($theme, primary), default-contrast);
  $primary-lighter: mat-color(map-get($theme, primary), lighter);
  $primary-text-lighter: mat-color(map-get($theme, primary), lighter-contrast);
  $accent: mat-color(map-get($theme, accent));
  $accent-text: mat-color(map-get($theme, accent), default-contrast);
  $accent-lighter: mat-color(map-get($theme, accent), lighter);
  $accent-darker: mat-color(map-get($theme, accent), darker);
  $warn: mat-color(map-get($theme, warn));
  $warn-text: mat-color(map-get($theme, warn), default-contrast);
  $background: mat-color(map-get($theme, background), background);
  $foreground: mat-color(map-get($theme, foreground), text);

  .edge:nth-child(1) .top {
    background: $accent-lighter;
  }
  .edge:nth-child(1) .down {
    background: $accent;
  }
  .edge:nth-child(1) .front {
    border-color: $accent-darker;
  }
  .edge:nth-child(3) .down {
    background: $accent-lighter;
  }
  .edge:nth-child(3) .front {
    border-color: $accent;
  }
  .edge:nth-child(3) .top {
    background: $accent-darker;
  }
  .edge:nth-child(3) .cover {
    background: $accent-lighter;
  }
  .front {
    border-color: $accent-lighter;
  }
  .back {
    border-color: $accent-lighter;
  }
  .top {
    background: $accent;
  }
  .top_ {
    background: $accent;
  }
  .bottom {
    background: $accent-darker;
  }
  .down {
    background: $accent-darker;
  }
  .cover {
    background: $accent;
  }
  .cover_ {
    background: $accent;
  }


}
