<section>
  <div class="container">
    <mat-card>
      <mat-progress-bar mode="indeterminate" *ngIf="progressBar"></mat-progress-bar>
      <mat-card-header>
        <h3>{{title}}</h3>
      </mat-card-header>
      <mat-card-content>

        <mat-tab-group>
          <mat-tab label="Login">
            <br>
            <form [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)">

              <mat-form-field *ngFor="let field of loginFormInputfields">
                <input matInput [type]="field.type" [formControlName]="field.formControlName" [placeholder]="field.placeholder">
                <mat-error *ngIf="(loginForm.controls[field.formControlName].errors | json | slice:5:6) !== '0'
                  && !loginForm.controls[field.formControlName].valid
                  && (loginForm.controls[field.formControlName].touched || loginForm.controls[field.formControlName].dirty)">
                  {{ field.alert }}
                </mat-error>
                <mat-error *ngIf="(loginForm.controls[field.formControlName].errors | json | slice:5:6) === '0'
                  && (loginForm.controls[field.formControlName].touched || loginForm.controls[field.formControlName].dirty)">
                  {{ field.asyncAlert }}
                </mat-error>
              </mat-form-field>

              <mat-form-field class="lname">
                <input matInput type="text" formControlName="lname" placeholder="Last name...">
                <mat-error *ngIf="!loginForm.controls['lname'].valid && loginForm.controls['lname'].touched">
                </mat-error>
              </mat-form-field>

              <br>
              <div class="center-container">
                <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid">Login</button>
              </div>

            </form>
          </mat-tab>

          <mat-tab label="Register">
            <br>
            <form [formGroup]="registerForm" (ngSubmit)="register(registerForm.value)">

              <mat-form-field *ngFor="let field of registerFormInputfields">
                <input matInput [type]="field.type" [formControlName]="field.formControlName" [placeholder]="field.placeholder">
                <mat-error *ngIf="(registerForm.controls[field.formControlName].errors | json | slice:5:6) !== '0'
                  && !registerForm.controls[field.formControlName].valid
                  && (registerForm.controls[field.formControlName].touched || registerForm.controls[field.formControlName].dirty)">
                  {{ field.alert }}
                </mat-error>
                <mat-error *ngIf="(registerForm.controls[field.formControlName].errors | json | slice:5:6) === '0'
                  && (registerForm.controls[field.formControlName].touched || registerForm.controls[field.formControlName].dirty)">
                  {{ field.asyncAlert }}
                </mat-error>
              </mat-form-field>

              <mat-form-field class="lname">
                <input matInput type="text" formControlName="lname" placeholder="Last name...">
                <mat-error *ngIf="!registerForm.controls['lname'].valid && registerForm.controls['lname'].touched">
                </mat-error>
              </mat-form-field>

              <br>
              <div class="center-container">
                <button mat-raised-button color="primary" type="submit" [disabled]="!registerForm.valid">Register</button>
              </div>

            </form>
          </mat-tab>

        </mat-tab-group>
      </mat-card-content>
    </mat-card>
  </div>
</section>
