/* Toolbar */

.toolbar-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.is-mobile .toolbar {
  position: fixed;
  z-index: 2;
}

.app-name {
  margin-left: 8px;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

[mat-tab-link] {
  opacity: initial;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  min-width: initial;
}

/* Sidenav */

mat-sidenav-container {
  flex: 1;
}

mat-sidenav {
  padding: 20px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

mat-panel-title {
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

[mat-list-item] {
  height: 30px !important;
  font-size: 15px;
  opacity: 0.7;
  font-weight: 600;
}

.is-mobile .sidenav-container {
  flex: 1 0 auto;
}
