html,
body {
  margin: 0;
  height: 100%;
}

body * {
  box-sizing: border-box;
}

section {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
}

.container {
  max-width: 1150px;
  padding: 0 10px;
  width: 100%;
  align-self: center;
  min-width: 300px;
}

@media all and (max-width: 600px) {}

/* Margins */

.margin-hz-all>*,
.margin-hz {
  margin-left: 10px;
  margin-right: 10px;
}

.button-margin-all>* {
  margin: 5px !important;
}

.margin-center-all>*,
.margin-center {
  margin-left: auto;
  margin-right: auto;
}

/* Width */

.width-500-all>*,
.width-500 {
  width: 500px;
}

/* Width */

.min-width-300-all>*,
.min-width-300 {
  min-width: 300px;
}

.min-width-50-all>*,
.min-width-50 {
  min-width: 40%;
}

.max-width-500-all>*,
.max-width-500 {
  max-width: 500px;
}

.width-100-all>*,
.width-100 {
  width: 100%;
}

/* Height */

.height-100-all>*,
.height-100 {
  height: 100%;
}

/* --------- Flex box ---------- */

.flex1-all>*,
.flex1 {
  flex: 1
}

.nowrap {
  flex-wrap: nowrap !important;
}

.basis-50-all>*,
.basis-50 {
  flex-basis: 50%;
}

.basis-45-all>*,
.basis-45 {
  flex-basis: 45%;
}

.row-reverse {
  flex-direction: row-reverse !important;
}

.flex-end-all>*,
.flex-end {
  align-self: flex-end;
}

@media all and (max-width: 600px) {
  .basis-50-all>*,
  .basis-50 {
    flex-basis: 100%;
  }

  .basis-45-all>*,
  .basis-45 {
    flex-basis: 100%;
  }
}

/* Flex column */

.flex-column {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.flex-column-around {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.flex-column-around-center {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
}

.flex-column-around-left {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: left;
}

.flex-column-between {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.flex-column-between-center {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
}

.flex-column-left {
  display: flex;
  flex-flow: column;
  justify-content: left;
}

/* Flex row */

.flex-row-center {
  display: flex;
  height: 100%;
  flex-flow: row wrap;
  justify-content: center;
  align-items: stretch;
}

.flex-row-between {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.flex-row-between-nowrap {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.flex-row-around {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
}

.flex-row-around-center {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
}

.flex-row-left {
  display: flex;
  flex-flow: row wrap;
}

.flex-row-left-start {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
}

.flex-row-left-center {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.flex-row-right {
  display: flex;
  flex-flow: row-reverse wrap;
}

.flex-row-right-center {
  display: flex;
  flex-flow: row-reverse wrap;
  align-items: center;
}

/* ---------- Columns ---------- */

.columnblock {
  display: block;
  columns: 2 390px;
  column-gap: 40px;
  width: 100%;
  padding: 30px 0;
  page-break-inside: avoid;
}

.column-nobreak-all>*,
.column-nobreak {
  page-break-inside: avoid;

}

/* -------------- Block ------------- */

.block {
  display: block;
  width: 100%;
  margin: 0 auto 20px auto;
}

/* ---------- Material design ---------- */

/* Card */

.mat-card {
  margin: 10px;
}

.mat-card-content {
  height: 100%;
}

/* Form */

form {
  display: flex;
  flex-direction: column;
}

.mat-form-field {
  width: 100%;
  flex: 1;
}

/* Table  */

.table-container {
  display: inline-block;
  padding-left: 6px;
  /* Checkbox animation won't overflow */
}

th.mat-header-cell,
td.mat-cell {
  padding: 0 10px !important;
}

.mat-column-select {
  overflow: initial;
}

/* Progess indicators  */

.progress-wrapper {
  height: 5px;
}

.mat-progress-bar {
  top: -5px;
}

#DialogSpinnerComponent {
  box-shadow: none !important;
  background: transparent !important;
}

/* Cursor settings */

.mat-slide-toggle-label,
.mat-slide-toggle-thumb-container,
.mat-icon-button,
.mat-checkbox,
.cursor-default {
  cursor: default !important;
}

.cursor-pointer {
  cursor: pointer !important;
}


/* ---------- Control ----------- */

/* Hide an element */

.hide {
  opacity: 0;
}

.lname {
  display: none !important;
}

.display-none {
  display: none !important;
  position: absolute;
}
