body {
  font-family: 'Open Sans', sans-serif !important;
  font-size: 14px;
  font-weight: 300;
  -webkit-font-smoothing: antialiased !important;
}

h1,
h2,
h3,
h4,
h5 {
}

h1 {
  font-size: 21px;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-family: 'Signika', sans-serif !important;
}

h2 {
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 3px;
  padding: 10px 3%;
  margin: 25px auto;
  text-align: center;
}

h2::after {
  content: "";
  border-bottom-style: solid;
  border-bottom-width: 2px;
  width: 50%;
  display: block;
  margin: 15px auto;
}

h3 {
  font-size: 20px;
  letter-spacing: 3px;
  font-weight: 500;
  font-family: 'Open Sans', sans-serif !important;
}

h4 {
  font-size: 14px;
  letter-spacing: 1.2px;
  font-weight: 400;
}

p {
  text-align: left;
}

a {
  text-decoration: none !important;
  color: inherit;
  cursor: pointer;
}

q {
  font-style: italic;
  padding: 10px 0;
  margin: 10px auto 30px auto;
  text-align: center;
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 18px;
  }
  h2 {
    font-size: 16px;
  }
  h3 {
    font-size: 14px;
  }
  h4 {
    font-size: 12px;
  }
  p {
  }
  a {
  }
  q {
  }
  }
